<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Quicksheet</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<!-- Header with Button -->
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

  <div class="container" id="latest">
      <div class="col-md-12">
          <h2 class="heading">Latest Mars News</h2>
          <h3>{{mars.news_headline}}</h3>
          <small>{{mars.news_p}}</small>
      </div>
  </div>
  <!-- Featured Image and Facts Row -->
  <div class="container">
    <div class="col-md-8">
      <h2 class="heading">Featured Mars Image</h2>
      <img src="{{mars.featured_image_url}}" width=100%>
    </div>
    <div class="col-md-4">
        <h3>Mars Facts</h3>
        <table class="table">
          {{mars.html_facts_table | safe}}
        </table>
    </div>
  </div>
  <div style="text-align: center;" class="container">
      <div class="row">
        <div class="col-md-12">
        <h1>Mars Hemispheres</h1>
        </div>
      </div>
      {% for hemi in mars.hemisphere_image_urls %} 
      <div class="col-md-6">
        <div class="card border-secondary mb-3">
        <img src="{{hemi.img_url}}" width=99% class="card-img-top" alt="{{hemi.name}}">
        <div class="card-body text-secondary">
          <h2 class="card-title">{{hemi.name}}</h2>
        </div>
      </div>
      </div>
      {% endfor %}
      
  </div>
</body>

</html>